.e-grading-answer-wrapper {
  background: #fff;
  position: relative;
  padding: 0;
  width: calc(100% - 10px);

  .e-annotation-list li {
    &:hover {
      cursor: pointer;
      color: #000;
    }
  }
  .e-annotation--censoring > .e-annotation__index {
    color: #1c87b1;
    z-index: 1;
  }
  .e-annotation--pregrading > .e-annotation__index {
    color: #f12228;
  }
  .e-annotation--pregrading:hover > .e-annotation__index {
    z-index: 2;
  }
  .e-annotation--censoring:hover > .e-annotation__index {
    z-index: 3;
  }
}
.e-grading-answer-popup {
  background: #fff;
  box-shadow: 0 0 7px 0 rgba(74, 144, 226, 0.5);
  position: absolute;
  padding: 2px 8px;
  color: #333;
  border-radius: 5px;
  z-index: 300;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;

  input[type='text'] {
    background: white;
    border: 2px solid #e6e6e6;
    padding: 3px;
    margin-right: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;
  }
}
.e-grading-answer-add-annotation-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  background: #006ed2;
  color: white;
  padding: 0 8px;
  border: 0;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}
.e-grading-answer-add-annotation {
  padding: 8px 10px;
}

.loading-images {
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 1px solid orange;
  border-radius: 4px;
  font-size: 16px;
  background: #fff8eb;

  animation: fade-in 1s both;
  animation-delay: 1s;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.e-grading-answer {
  border-left: 2px solid #aaa;
  margin: 20px 0;
  padding: 10px;
  word-break: break-word;
  background: #fff;
  .e-annotation-wrapper {
    line-height: 0;
    sup {
      white-space: nowrap;
    }
  }

  .e-large-image {
    box-shadow: 0 1px 8px -3px #004dd0;
  }
  .full-size-image {
    position: relative;
    user-select: none;

    a {
      &::before {
        content: '+';
        font-family: monospace;
        font-size: 17px;
        color: #fff;
        background: #004dd0;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &::after {
        content: '';
        height: 3px;
        background: #004dd0;
        width: 9px;
        display: block;
        transform: rotate(45deg);
        position: relative;
        left: 12px;
        bottom: 2px;
      }

      position: absolute;
      bottom: 10px;
      right: 100%;
      margin-right: 13px;
      color: #004dd0;
      padding: 3px 7px;
      background: #fff;
      font-size: 22px;
      &:hover {
        color: #00235e;
        background: none;
        text-decoration: none;
      }
    }
  }
  img {
    max-width: 100%;
  }

  img,
  .e-annotation-wrapper .e-annotation {
    cursor: crosshair;
    -moz-user-drag: -moz-none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  // LaTeX formulas
  img[alt] {
    vertical-align: middle;
  }
  mark {
  }
}
.e-grading-answer-tooltip {
  background: #fff;
  position: absolute;
}
.e-grading-answer-tooltip-remove {
  display: none;
}
.editable .e-grading-answer-tooltip-remove {
  display: initial;
  background: none;
  border: none;
  font-size: 22px;
  padding: 0 5px;
  cursor: pointer;
  color: #666;
  line-height: 1;
  vertical-align: top;
  &:hover {
    color: #ce0000;
  }
}
.e-grading-answer-tooltip-label {
  margin: 0 5px;
  border: 1px solid transparent;
  padding: 0 4px;
  .editable &:hover {
    border: 1px dashed #aaa;
    cursor: pointer;
  }
}
.e-grading-answer-length {
  color: gray;
}
.e-grading-answer-max-length-surplus {
  color: #ce0000;
  font-weight: 600;
  margin-left: 1ex;
}
.e-grading-answer-close-popup {
  &:hover {
    color: #ce0000;
  }
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 50px;
  line-height: 0;
  text-align: center;
  width: 23px;
  height: 23px;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 100%;
  cursor: pointer;
  margin-left: -11px;
  margin-bottom: -11px;
}

.e-answer-grading-instruction {
  border: none;
  border-left: 5px solid #ddd;
  border-radius: 0;
  margin-left: 0.5rem;
}
