@import '../../css/colors.less';

.e-grading-answer-wrapper {
  background: @grey-010;
  position: relative;
  padding: 0;
  width: calc(100% - 10px);

  .e-annotation-list li {
    &:hover {
      cursor: pointer;
      color: @grey-900;
    }
  }
  .e-annotation--censoring > .e-annotation__index {
    color: @blue-400;
    z-index: 1;
  }
  .e-annotation--pregrading > .e-annotation__index {
    color: @red-500;
  }
  .e-annotation--pregrading:hover > .e-annotation__index {
    z-index: 2;
  }
  .e-annotation--censoring:hover > .e-annotation__index {
    z-index: 3;
  }
}
.e-grading-answer-popup {
  background: @grey-010;
  box-shadow: 0 0 7px 0 rgba(@blue-600, 0.5);
  position: absolute;
  padding: 2px 8px;
  color: @grey-700;
  border-radius: 5px;
  z-index: 300;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;

  input[type='text'] {
    background: @grey-010;
    border: 2px solid @grey-100;
    padding: 3px;
    margin-right: 4px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: @grey-700;
  }
}
.e-grading-answer-add-annotation-button {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  background: @blue-600;
  color: @grey-010;
  padding: 0 8px;
  border: 0;
  margin-left: 5px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(@grey-900, 0.15);
}
.e-grading-answer-add-annotation {
  padding: 8px 10px;
}

.loading-images {
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  animation: fade-in 0.5s ease-in-out both;
  animation-delay: 0.5s;

  span {
    border-radius: 4px;
    padding: 0.25rem 0.75rem;

    &.loading {
      border: 1px solid @orange-600;
      background: @grey-050;
    }

    &.failed {
      border: 1px solid @red-500;
      background: @grey-050;
    }
  }

  @keyframes fade-in {
    from {
      margin: 0;
      opacity: 0;
      max-height: 0;
    }
    to {
      margin: 0.5rem 0;
      opacity: 1;
      max-height: 500px;
    }
  }
}

.e-grading-answer {
  border-left: 2px solid @grey-500;
  margin: 20px 0;
  padding: 10px;
  word-break: break-word;
  background: @grey-010;
  .e-annotation-wrapper {
    line-height: 0;
    sup {
      white-space: nowrap;
    }
  }

  .e-large-image {
    box-shadow: 0 1px 8px -3px @blue-800;
  }
  .full-size-image {
    position: relative;
    user-select: none;

    a {
      &::before {
        content: '+';
        font-family: monospace;
        font-size: 17px;
        color: @grey-050;
        background: @blue-800;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &::after {
        content: '';
        height: 3px;
        background: @blue-800;
        width: 9px;
        display: block;
        transform: rotate(45deg);
        position: relative;
        left: 12px;
        bottom: 2px;
      }

      position: absolute;
      bottom: 10px;
      right: 100%;
      margin-right: 13px;
      color: @blue-800;
      padding: 3px 7px;
      background: @grey-050;
      font-size: 22px;
      &:hover {
        color: @blue-900;
        background: none;
        text-decoration: none;
      }
    }
  }
  img {
    max-width: 100%;
  }

  img,
  .e-annotation-wrapper .e-annotation {
    cursor: crosshair;
    -moz-user-drag: -moz-none;
    -khtml-user-drag: none;
    -webkit-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  // LaTeX formulas
  img[alt] {
    vertical-align: middle;
  }
  mark {
  }
}
.e-grading-answer-tooltip {
  background: @grey-050;
  position: absolute;
}
.e-grading-answer-tooltip-remove {
  display: none;
}
.editable .e-grading-answer-tooltip-remove {
  display: initial;
  background: none;
  border: none;
  font-size: 22px;
  padding: 0 5px;
  cursor: pointer;
  color: @grey-600;
  line-height: 1;
  vertical-align: top;
  &:hover {
    color: @red-500;
  }
}
.e-grading-answer-tooltip-label {
  margin: 0 5px;
  border: 1px solid transparent;
  padding: 0 4px;
  .editable &:hover {
    border: 1px dashed @grey-500;
    cursor: pointer;
  }
}
.e-grading-answer-length {
  color: @grey-600;
}
.e-grading-answer-max-length-surplus {
  color: @red-500;
  font-weight: 600;
  margin-left: 1ex;
}
.e-grading-answer-close-popup {
  &:hover {
    color: @red-500;
  }
  background: @grey-050;
  border: 1px solid @grey-500;
  border-radius: 50px;
  line-height: 0;
  text-align: center;
  width: 23px;
  height: 23px;
  font-size: 20px;
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 100%;
  cursor: pointer;
  margin-left: -11px;
  margin-bottom: -11px;
}

.e-answer-grading-instruction {
  border: none;
  border-left: 5px solid @grey-100;
  border-radius: 0;
  margin-left: 0.5rem;
}
