.e-exam {
  .e-menu-dropdown {
    position: relative;
    display: inline-block;
  }

  .e-menu-dropdown-toggle {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .e-menu-dropdown-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 120px;

    li {
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
      margin-left: 0;
    }

    li:hover {
      background-color: #f1f1f1;
    }
  }
}

.ProseMirror {
  img[alt] {
    padding: 0;
    vertical-align: middle;
  }

  .invisible--nb-space:before {
    content: '˄';
    color: blue;
    top: 5px;
    left:0;
  }
}

