[Desktop Entry]
Comment=
Terminal=true
Name=Tee Mex
Exec=bash -c "ee create-mex `dirname %k`/*.xml -p salasana -s ~/exam-engine/packages/exams/security-codes.json -n ~/exam-engine/packages/exams/nsa-scripts.zip -k ~/digabi-top/yo-tools/node_modules/digabi-secret/answers-private-key.pem && read -n 1 -s -p 'Valmis!'"
Type=Application
