@import '../../css/colors.less';

.e-exam {
  .e-radio-button,
  .e-checkbox {
    accent-color: @blue-800;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 2px 0;
  }

  .e-choice-answer {
    label {
      cursor: pointer;

      input {
        cursor: pointer;
      }

      .audio {
        margin-top: 0.5rem;
      }
    }
  }

  .e-correct-answer-left {
    border-left: 0.5rem solid @colors[correct-answer];
    padding-left: 0.75rem;
    margin-left: -1.25rem;
  }

  .e-correct-answer-bottom {
    border-bottom: 0.5rem solid @colors[correct-answer];
    border-left: 0;
    padding-bottom: 0.5rem;
  }
}
