.e-exam {
  .e-dnd-answer {
    border: 1px solid #ccc;
    padding: 0.5rem;
    display: inline-block;
    background: #09f1;

    .e-dnd-answer-title {
      border: 1px solid #ccc;
      padding: 0.5rem;
      display: inline-block;
      background: #0f93;
    }
    .e-dnd-answer-option {
      border: 1px solid #ccc;
      padding: 0.5rem;
      display: inline-block;
      background: #f903;
    }
  }
}
