@import '../../css/colors.less';

.e-exam {
  .e-dnd-answer-container {
    display: flex;
    flex-direction: column;

    .e-dnd-answer {
      padding: 0.5rem;
      display: flex;
      border-radius: 5px;
      align-items: center;

      .title-and-line {
        flex: auto;
        display: flex;
        align-items: center;
      }

      .connection-line {
        display: inline-block;
        height: 1px;
        background: @blue-400;
        flex: 1 0 50px;
        &.hovered {
          height: 3px;
          background: @blue-800;
        }
      }

      .e-dnd-answer-title {
        display: inline-block;
        border-radius: 5px;
        flex: 0 1 auto;
        padding: 0.25rem 0.75rem;
        border: 1px solid @grey-100;
        border-bottom: 2px solid @grey-100;

        &.hovered {
          outline: 3px solid @blue-800;
        }
      }

      .e-score {
        margin-left: 0.5rem;
      }
    }

    .e-dnd-answer-droppable {
      border: 1px dashed @blue-400;
      padding: 0.5rem;
      background: @blue-050;
      border-radius: 4px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.5rem;
      flex: 0 1 auto;
      transition:
        border 0.2s,
        background 0.2s;

      &.correct-answers {
        display: inline-flex;
        flex-wrap: wrap;
        background-color: @grey-050;
        border-color: @grey-100;
        align-self: flex-end;
        margin: 0 0.5rem 3rem;
      }

      &.root {
        flex: none;
        max-width: unset;
        align-items: center;
        background: @blue-050;
        margin-right: 60px;
        margin-left: 0.5rem;
      }

      &.ready-for-drop {
        outline: 2px dashed @blue-800;
        border: 1px solid transparent;
        position: relative;
      }

      &.hovered {
        background: @blue-050;
        outline: 3px solid @blue-800;
        border: 1px solid transparent;
      }

      .droppable-no-answer {
        color: @grey-600;
        white-space: nowrap;
      }

      .droppable-drop-here {
        color: @blue-800;
        white-space: nowrap;
      }
    }

    .droppable-title {
      font-size: 14px;
      color: @grey-900;
      margin: 0 0.5rem;

      &.align-right {
        text-align: right;
      }
    }

    .audio.e-mrg-b-2 {
      margin-bottom: 0;
    }

    .responsive-media-container {
      max-width: 180px !important;
      min-width: 80px;
    }

    .responsive-media-container__inner {
      padding-bottom: 0 !important;

      img {
        position: static !important;
      }
    }
  }
}

.e-dnd-answer-option {
  border: 1px solid @grey-700;
  border-bottom: 2px solid @grey-700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: @grey-010;
  border-radius: 5px;
  gap: 0.5rem;

  .correct-answer {
    border-left: 0.5rem solid @colors[correct-answer];
  }

  .wrong-answer {
    border-left: 0.5rem solid @colors[wrong-answer];
  }

  .option-content {
    padding: 0.5rem;
  }

  .audio {
    margin-bottom: 0 !important;
  }

  &:hover .drag-handle {
    background: @blue-050;
    color: @grey-900;
    border-radius: 0 3px 3px 0;

    &:hover {
      background: @blue-800;
      color: @grey-010;
    }
  }

  &:has(.drag-handle:hover) {
    border-color: @blue-800;
  }

  .drag-handle {
    color: @grey-900;
    cursor: grab;
    border: 1px solid transparent;
    padding: 0.5rem;
    align-self: stretch;
    display: grid;
    place-content: center;
    transition: background-color 0.1s;
  }
}

.e-dnd-answer-drag-overlay {
  box-shadow: 0 10px 15px -10px hsla(232, 25%, 35%, 1);
  opacity: 0.85;
  cursor: grabbing;
  border-radius: 5px;
  outline: 3px solid @blue-800;
}
