.e-exam {
  .e-dropdown-answer {
    @margin: 1px;
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: middle;

    &:has(mark.e-annotation):not(:has(.e-dropdown-answer__toggle-button--open)) {
      background: @annotation-background;
      outline: 2px solid rgba(241, 34, 40, 0.2);
      border-radius: 1px;
    }

    &__answered {
      border: 2px solid #bbb;
      vertical-align: middle;
      padding: 0 6px;
      border-radius: 4px;
      display: inline-block;

      &--correct {
        box-shadow: 0 -4px 0 -2px inset @colors[correct-answer];
        border-bottom: 1px solid @colors[correct-answer];
      }

      &--wrong {
        box-shadow: 0 -4px 0 -2px inset @colors[wrong-answer];
        border-bottom: 1px solid @colors[wrong-answer];
      }
    }

    &__no-answer {
      min-width: 4rem;
      display: inline-block;
      min-height: 24px;
      background: @colors[no-answer-bg];
      border-color: @colors[no-answer-border];
      vertical-align: middle;
    }

    &__correct {
      padding: 0 0.25rem;
      box-shadow: 0 -4px 0 -2px inset @colors[correct-answer];
      border-bottom: 1px solid @colors[correct-answer];
      font-style: italic;
      vertical-align: middle;
    }

    &__label {
      max-width: 100%;
    }

    &__toggle-button {
      max-width: 100%;
      outline: none;
      min-height: 1.5rem;

      // Draw the border in an absolutely positioned pseudo element. We need to
      // draw it separately, because we want the a 1px margin outside the border
      // without it affecting the dimensions of the element.
      &:after {
        display: block;
        content: '';
        position: absolute;
        top: @margin;
        right: 0px;
        bottom: @margin;
        left: 0px;
        border: 1px solid @colors[link];
        border-radius: 4px;
      }

      &:focus:after,
      &:hover:after {
        box-shadow: 0 0 1px 1px @colors[link-hover];
      }

      &--open:after {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &__toggle-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      position: absolute;
      top: @margin;
      right: 0;
      bottom: @margin;
      width: 1.5rem;
      border-left: 1px solid @colors[link];
    }

    &__menu {
      position: absolute;
      width: 100%;
      z-index: 2;
      border: 1px solid @colors[link];
      top: calc(100% - 2px);
      // Toggle visibility via CSS due to MathJax. It is so slow to render new
      // formulas that we need to pre-render them before making the dropdown
      // menu visible.
      visibility: hidden;
      outline: none;

      &--open {
        visibility: visible;
      }
    }

    &__menu-item-inner {
      display: table;
    }

    // Prevent formula shrinking within dropdown answers.
    .e-formula svg {
      max-width: inherit;
    }
  }

  .no-answer .e-dropdown-answer__no-answer {
    background-color: #f5f5f5;
  }
}
