@import '../shared/Breakpoints.less';

.e-exam {
  width: 100%;
  .e-exam.e-sans-serif();
  .e-exam.e-font-size-m();
  color: @colors[black];

  .e-halves {
    display: flex;
    justify-content: center;
    gap: 2em;
    position: fixed;
    width: 100%;

    @media (max-width: @break-point-mid) {
      gap: 1em;
      padding: 0 0.5rem;
    }

    @media (max-width: @break-point-narrow) {
      gap: 0.5em;
    }
  }

  .main-exam-container {
    flex: 1 0.5 65rem;
    padding-right: 1em;
    height: 100vh;
    overflow: auto;
    padding: 0.5rem 1px 2rem;

    .main-exam {
      max-width: 65rem;
      margin-right: auto;
      box-sizing: content-box;

      @media (max-width: @break-point-narrow) {
        margin-right: 0;
        margin-left: auto;
      }
    }

    @media (max-width: @break-point-narrow) {
      flex-shrink: 1;
    }
  }
}

.anchor {
  position: relative;
  top: -1.5em;
  visibility: hidden;
}

.e-exam * {
  box-sizing: border-box;
}

.e-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}
