.e-exam {
  width: 100%;
  .e-exam.e-sans-serif();
  .e-exam.e-font-size-m();
  color: @colors[black];

  .e-halves {
    display: flex;
    justify-content: center;
    gap: 2em;
    position: fixed;
    width: 100%;

    & > div,
    & > nav {
      height: 100vh;
      overflow: auto;
      padding: 1px;
    }
  }

  .main-exam-container {
    flex: 1 0 65rem;
    padding-right: 1em;

    .main-exam {
      max-width: 65rem;
      margin-right: auto;
      padding: 1px;
      box-sizing: content-box;
    }
  }

  &:not(.sidebarNavi) .main-exam-container {
    flex-grow: 0;
  }
}

.anchor {
  position: relative;
  top: -2em;
  visibility: hidden;
}

.e-exam * {
  box-sizing: border-box;
}

.e-footer {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
}
