.answer.e-multiline-results-text-answer {
  border-left: 2px solid #aaa;
  padding: 0 0 0 1rem;
  margin-bottom: 0.5rem;
  word-break: break-word;
}

// Special rendering for multi-line and rich-text answer scores. The pdf rendering
// with annotations might break because the score component affects
// the flow of the elements in the rich-text answer which might put the overlayed
// annotation elements out-of-sync on page breaks.
.e-multiline-results-text-answer-score {
  position: relative;
  left: 1rem;
  margin: 0;
  height: 0;
  width: 0;
  overflow: visible;
  clear: right;
  white-space: nowrap;

  .e-result-scorecount-border-wrap {
    border-left: 1px solid #aaa;
    padding-left: 1.5rem;
  }
}
