.e-results {
  input,
  label {
    pointer-events: none;
  }
}

.e-result-scorecount {
  display: block;
  clear: right;
  margin-right: -9rem;
  width: 8rem;
  position: relative;
}

.e-result-scorecount-border-wrap {
  display: block;
  border-left: 1px solid @colors[grey];
  padding-left: 1.5rem;
}

// Special rendering for multi-line and rich-text answer scores. The pdf rendering
// with annotations might break because the score component affects
// the flow of the elements in an annotated rich-text answer, which might put the overlayed
// annotation elements out-of-sync on page breaks.
.e-result-scorecount-multiline-answer {
  position: relative;
  left: 1rem;
  margin: 0;
  height: 0;
  width: 0;
  overflow: visible;
  clear: right;
  white-space: nowrap;
}

.e-exam .e-result-scorecount-sup {
  position: absolute;
  left: 0.25rem;
  top: 0;
  line-height: 1rem;
  text-align: right;
  min-width: 1rem;
}

.e-results-section-wrapper {
  padding-right: 9rem;
}

.e-result-scorecount-empty {
  position: relative;
  top: 2px;
  display: inline-block;
  height: 1ex;
  width: 1.5ch;
  border-bottom: 2px solid #333;
}

// If several questions are on same row, scores overlap next question. Hack to prevent it.
table td .e-result-scorecount {
  margin-right: 0;
}

.noAnswer {
  background: #eee;
  opacity: 0.9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 6px;
  padding-right: 1rem;
  margin-left: 0rem !important;

  &.e-level-0 {
    padding-left: 1rem;
  }

  &.e-level-1 {
    padding-left: 2.5rem;
    margin-left: 1.5rem !important;
  }

  .noAnswer {
    padding-right: 0;
    padding-left: 3rem !important;
  }

  .e-result-scorecount.e-float-right {
    padding-left: 1rem;

    &.e-result-scorecount-multiline-answer {
      left: 2rem;
    }
  }
}

.e-dropdown-answer__answered {
  display: inline-block;
  height: 24px;
}
