@import '../../css/colors.less';

.e-results {
  input,
  label {
    pointer-events: none;
  }

  &.examine-exam-page {
    .e-choice-answer,
    .e-multiline-results-text-answer,
    .text-answer--single-line,
    .e-dropdown-answer__answered {
      cursor: not-allowed;
    }

    input[type='radio'] {
      filter: grayscale();
    }
  }

  .e-result-scorecount {
    display: block;
    clear: right;
    margin-right: -9rem;
    width: 8rem;
    position: relative;
    flex: none;
    margin-left: 1rem;
  }

  .e-result-scorecount-border-wrap {
    display: block;
    border-left: 1px solid @colors[grey];
    padding-left: 1.5rem;
  }

  // Special rendering for multi-line and rich-text answer scores. The pdf rendering
  // with annotations might break because the score component affects
  // the flow of the elements in an annotated rich-text answer, which might put the overlayed
  // annotation elements out-of-sync on page breaks.
  .e-result-scorecount-multiline-answer {
    position: relative;
    left: 1rem;
    margin: 0;
    height: 0;
    width: 0;
    overflow: visible;
    clear: right;
    white-space: nowrap;
  }

  .e-result-scorecount-sup {
    position: absolute;
    left: 0.25rem;
    top: 0;
    line-height: 1rem;
    text-align: right;
    min-width: 1rem;
  }

  &:not(.examine-exam-page) .e-results-section-wrapper {
    padding-right: 9rem;
  }

  .e-result-scorecount-empty {
    position: relative;
    top: 2px;
    display: inline-block;
    height: 1ex;
    width: 1.5ch;
    border-bottom: 2px solid @grey-900;
  }

  // If several questions are on same row, scores overlap next question. Hack to prevent it.
  table td .e-result-scorecount {
    margin-right: 0;
  }

  .e-exam-done-return {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    position: sticky;
    top: 0.5rem;
    z-index: 1;
  }

  .e-exam-done-instructions {
    margin: 2rem 0;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: top;
    }
  }

  .shadow-box {
    box-shadow: 0 15px 22px -10px rgb(156 188 206);
    border-radius: 5px;
    border: 2px solid @blue-800;
    width: 80%;
    padding: 1.5rem 2rem;
    background: white;
    margin: 0 auto 3rem;
  }

  .examine-exam-page-instructions {
    li {
      list-style-type: circle;
      padding: 0.25rem 0.5rem;

      .no-answer-example {
        border-radius: 6px;
        padding: 0.25rem 0.5rem;
        background-color: @colors[no-answer-bg];
        margin: 0 0.5rem 0.25rem -0.75rem;
        display: inline-block;
      }
    }
  }

  .e-exam-question {
    &.non-answer {
      padding-left: 3rem;
      margin-left: 1rem;
      margin-top: 3rem;
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
      opacity: 1;
      border-radius: 5px;
      background-image: repeating-linear-gradient(-45deg, transparent 0 10px, rgba(0, 0, 0, 0.05) 10px 13px);
      border: 3px solid #f5f5f5;

      .e-result-scorecount {
        .non-answer {
          border-left: 1px solid @colors[grey];
          display: block;
          font-style: italic;
          padding-left: 1.5rem;
          white-space: normal;
          color: #888;

          + * {
            display: none;
          }
        }
      }
    }

    &.no-answer {
      background: @colors[no-answer-bg];
      opacity: 0.9;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      border-radius: 6px;
      padding-right: 1rem;
      margin-left: 0 !important;

      &.e-level-0 {
        padding-left: 1rem;
      }

      &.e-level-1 {
        padding-left: 3rem;
        margin-left: 1rem !important;
      }

      .no-answer {
        padding-right: 0;
        padding-left: 3rem !important;
      }

      .e-result-scorecount.e-float-right {
        left: 1rem;

        &.e-result-scorecount-multiline-answer {
          left: 2rem;
        }
      }
    }
  }

  .e-dropdown-answer__no-answer {
    display: inline-block;
    height: 24px;
    border-color: @colors[no-answer-border];
  }

  label input:not(:checked) + div {
    color: @grey-500;
  }

  .e-logout-container {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    text-align: center;
    padding-bottom: 3rem;
  }

  .e-multiline-results-text-answer,
  .text-answer--single-line {
    border-color: @grey-500;
    background-color: @grey-050;

    &.no-answer {
      box-shadow: inset 0 0 0 2px @colors[no-answer-border];
      border: none;
      background-color: @colors[no-answer-bg];
    }
  }

  .e-dnd-answer.no-answer {
    background: @colors[no-answer-bg];
    opacity: 0.9;
    margin-bottom: 0.5rem;

    .e-dnd-answer-droppable {
      border: 2px dashed @colors[wrong-answer];
    }
  }

  .audio-placeholder {
    background: #f1f3f4;
    border-radius: 50px;
    height: 54px;
    text-align: center;
    font-size: 14px;
    display: grid;
    place-content: center;
    padding: 0 1.5rem;
    color: #666;
  }

  .text-answer--single-line:not(.no-answer) {
    word-break: break-word;
    border-radius: 3px;
    color: @grey-700;
    border: none;
    box-shadow: inset 0 0 0 2px @grey-500;
  }

  .e-dropdown-answer__answered {
    background-color: @grey-050;
  }

  .e-dropdown-answer__no-answer {
    background-color: @colors[no-answer-bg];
    border-color: @colors[no-answer-border];
  }

  .no-answer {
    .e-dropdown-answer__no-answer,
    .e-multiline-results-text-answer.no-answer {
      background-color: @grey-050;
    }
  }
}

.session-ended {
  > *:not(.e-logout-container, .e-logout-container *) {
    overflow: hidden;
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 auto !important;
    height: 0 !important;
    border: none !important;
    transition:
      opacity 1.5s ease-in-out,
      padding 1s ease-in-out 1s,
      margin 1s ease-in-out 1s,
      height 1s ease-out 1s,
      border 1s ease-in-out 1s;
  }

  min-height: calc(100% - 125px);
}
