@import '../../css/colors.less';

.e-results {
  .e-multiline-results-text-answer {
    box-shadow: inset 0 0 0 2px @grey-500;
    word-break: break-word;
    min-height: 32px;
    margin-right: 2rem;
    border-radius: 3px;
    color: @grey-900;

    table {
      word-break: normal;
    }

    img {
      max-width: 100%;
      padding: 0.25rem;
    }

    // LaTeX formulas
    img[alt] {
      vertical-align: middle;
    }
  }

  .e-exam .text-answer {
    box-shadow: inset 0 0 0 2px @grey-500;
  }

  .text-answer--single-line.no-answer {
    background-color: @colors[no-answer-bg];
    box-shadow: inset 0 0 0 2px @colors[no-answer-border];
  }

  .no-answer {
    .e-multiline-results-text-answer,
    .text-answer--single-line {
      &.no-answer {
        background-color: @grey-050 !important;
        box-shadow: inset 0 0 0 2px @colors[no-answer-border];
        border: none;
      }
    }
  }
}
