.e-multiline-results-text-answer {
  border: 2px solid #aaa;
  word-break: break-word;
  min-height: 32px;
  margin-right: 2rem;

  table {
    word-break: normal;
  }

  img {
    max-width: 100%;
    padding: 0.25rem;
  }

  // LaTeX formulas
  img[alt] {
    vertical-align: middle;
  }
}
