.e-annotation-wrapper {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.e-annotation {
  position: relative; // The index is positioned absolutely with respect to this element.

  &--pregrading {
    background-color: rgba(241, 34, 40, 0.2);
  }

  &--censoring {
    background-color: rgba(28, 135, 177, 0.2);
  }

  &--shape {
    position: absolute;
    min-width: 4px;
    min-height: 4px;
  }

  &__index {
    position: absolute;
    right: 0;
    transform: translateX(100%); // Move the superscript fully outside the box.
    top: 1px;
    text-shadow: 1px 1px @colors[off-white];
  }
}
