@import '../css/colors.less';

.e-annotation-wrapper {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.annotation-styles(@annotation-color, @alpha) {
  background-color: rgba(@annotation-color, @alpha);
  .e-annotation-wrapper {
    background: @grey-010;
    &:before {
      background: rgba(@annotation-color, @alpha);
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
}

.e-annotation {
  position: relative; // The index is positioned absolutely with respect to this element.

  // Below: styles created for the "old" annotation system — the one that renders them using vanilla JS.
  &--pregrading {
    .annotation-styles(@red-500, 0.2);
  }

  &--censoring {
    .annotation-styles(@blue-400, 0.2);

    &:hover {
      background-color: rgba(@blue-600, 0.3);
    }
  }

  &--shape {
    position: absolute;
    min-width: 4px;
    min-height: 4px;
  }

  &__index {
    text-shadow: 1px 1px @colors[off-white];
  }

  &__index--text {
    position: relative;

    &::after {
      position: absolute;
      content: attr(data-content);
      white-space: nowrap;
      top: -0.125rem;
    }
  }

  &__index--shape {
    position: absolute;
    right: 0;
    top: -0.5rem;
    transform: translateX(100%);

    &::after {
      content: attr(data-content);
    }
  }
}

.comment-button-area {
  display: block;
}
