@blue-900: #173e82;
@blue-800: #204d99;
@blue-600: #466fb5;
@blue-400: #6694e3;
@blue-200: #a6c7ff;
@blue-050: #e6efff;

@grey-900: #000000;
@grey-700: #424242;
@grey-600: #595959;
@grey-500: #919191;
@grey-500-encoded: escape(@grey-500); // used by RestrictedAudioPlayer.less
@grey-100: #d8d8d8;
@grey-050: #f5f5f5;
@grey-010: #ffffff;

@red-900: #860000;
@red-800: #9e0000;
@red-500: #f00000;
@red-050: #ffe1e1;

@orange-900: #c25700;
@orange-600: #ff963f;
@orange-050: #fff0e3;

@green-600: #3ad31c;

@colors: {
  black: @grey-900;
  darkgrey: @grey-700;
  grey: @grey-600;
  midgrey: @grey-100;
  lightgrey: @grey-050;
  off-white: @grey-010;
  error: @red-800;
  lightblue: @blue-200;
  lighterblue: @blue-050;
  lightblue-shade: @blue-050;
  lightturquoise: @blue-200;
  link: @blue-800;
  button: @blue-800;
  link-hover: @blue-900;
  correct-answer: @green-600;
  wrong-answer: @red-500;
  no-answer-bg: hsl(30 42% 92% / 1);
  no-answer-border: hsl(30 51% 76% / 1); // #e2b586;
};

each(@colors, {
  .e-exam .e-color-@{key} {
    color: @value;
  }
  .e-exam .e-bg-color-@{key} {
    background-color: @value;
  }
});
