@colors: {
  black: #282828;
  off-white: #fefefe;
  grey: #bbbbbb;
  error: #9e0000;
  darkgrey: #585858;
  midgrey: #dddddd;
  lightgrey: #f0f0f0;
  tinted-white: #f5fbfe;
  lightblue: #e0f4fe;
  lighterblue: #f0faff;
  lightblue-shade: #c6e6f2;
  lightturquoise: #88d0d0;
  link: #307f99;
  link-hover: #207b90;
  correct-answer: #5acd46;
  wrong-answer: red;
  no-answer-bg: hsl(30 42% 92% / 1);
  no-answer-border: hsl(30 51% 76% / 1); // #e2b586;
};

each(@colors, {
  .e-exam .e-color-@{key} {
    color: @value;
  }
  .e-exam .e-bg-color-@{key} {
    background-color: @value;
  }
});
