@import './colors.less';

.full-size-image-styles() {
  .e-large-image {
    box-shadow: 0 1px 8px -3px @blue-800;
  }

  .full-size-image {
    position: relative;
    user-select: none;

    a {
      &::before {
        content: '+';
        font-family: monospace;
        font-size: 17px;
        color: @grey-050;
        background: @blue-800;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &::after {
        content: '';
        height: 3px;
        background: @blue-800;
        width: 9px;
        display: block;
        transform: rotate(45deg);
        position: relative;
        left: 12px;
        bottom: 2px;
      }

      position: absolute;
      bottom: 10px;
      right: calc(100% + 1rem);
      color: @blue-800;
      height: 32px;
      width: 32px;
      border-radius: 5px;
      padding: 6px;

      &:hover {
        color: @blue-900;
        background: @blue-050;
        text-decoration: none;
      }
    }
  }
}
