.e-exam {
  .notification {
    background: @blue-050;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    border: 1px solid @blue-600;
    padding: 1rem;
    word-wrap: break-word;

    &--inline {
      display: inline-block;
    }
  }
}
